<div class="container">
    <div class="row">
        <%= render 'users/left', user: @user %>
        <div class="col-xs-8">
            <h2>User List</h2>
            <table class="table">
                <thead>
                    <th>ID</th>
                    <th>Image</th>
                    <th>User</th>
                    <th>TwitterID</th>
                </thead>
                <tbody>
                    <% @users.each do |user| %>
                    <tr>
                        <td><%= user.id %></td>
                        <td><%= link_to (image_tag user.image),user_path(user.id) %>
                        <td><%= user.name %></th>
                        <td>@<%= user.nickname %></th>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>