<!DOCTYPE html>
<html>
  <head>
    <title>Bookers4</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container">
        <h1 class="nav navbar-nav navbar-left">Bookers4</h1>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if logged_in? %>
              <li><%= link_to 'Home', user_path(current_user.id), class: "navia" %></li>
              <li><%= link_to 'Users', users_path, class: "navia" %></li>
              <li>
                <%= link_to logout_path, class:"navia" do %>
                 <i class="fab fa-twitter">ログアウト</i>
                <% end %>
              </li>
            <% else %>
              <li><%= link_to 'Home', root_path, class:"navia" %></li>
              <li><%= link_to 'About', '/about', class:"navia" %></li>
              <li>
                <%= link_to '/auth/twitter', class:"navia" do %>
                 <i class="fab fa-twitter">ログイン</i>
                <% end %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
